<li class="fount-discover-showcase">
  <div class="discover-showcase-container">
    <div id="discover-showcase-carousel">
      <div ng-repeat="product in showcaseProducts" class="fount-tagged-product">
        <img ng-src="{{product.imageURL}}">
      </div>
    </div>
  </div>
  <div class="discover-showcase-sidebar">
    <div>SHOP TAGGED ITEMS</div>
    <div id="showcase-carousel-prev" class="carousel-arrow carousel-prev"> prev</div>
    <div id="showcase-carousel-next" class="carousel-arrow carousel-next">next</div>
  </div>
</li>
