<div class="fount-header">
  <div ng-show="enableMobileMenu" class="fount-mobile-menu-section">
    <div class="fount-mobile-search">
      <div fount-search></div>
    </div>
    <div ng-show="isLoggedIn">
      <div class="fount-mobile-menu-tabs">
        <div class="fount-user-avatar">
          <img ng-src="{{publicProfilePicture}}">
        </div>
        <span>{{username}}</span>
      </div>
    </div>
    <div ng-click="setTopFilter('DISCOVER')" ng-class="{selected: topFilter == 'DISCOVER'}" class="fount-mobile-menu-tabs"><i class="icon-chart-line"></i>DISCOVER</div>
    <div ng-click="setTopFilter('SALE')" ng-class="{selected: topFilter == 'SALE'}" class="fount-mobile-menu-tabs"><i class="icon-bell"></i>ON SALE</div>
    <div ng-click="setTopFilter('ARRIVALS')" ng-class="{selected: topFilter == 'ARRIVALS'}" class="fount-mobile-menu-tabs"><i class="icon-star-empty"></i>NEW ARRIVALS</div>
    <div class="fount-mobile-menu-tabs"><i class="icon-lifebuoy"></i>HELP</div>
    <div ng-show="isLoggedIn">
      <div ng-click="logout()" class="fount-mobile-menu-tabs fount-mobile-logout">
        <i class="icon-link-ext"></i>Logout
      </div>
    </div>
  </div>
  <div ng-show="enableMobileMenu" ng-click="hideMobileMenu()" class="fount-mobile-overlay"></div>
  <div class="fount-header-container">
    <div ng-click="showMobileMenu()" class="fount-mobile-menu" style="display: none;">
      <div class="icon-menu"></div>
    </div>
   
   <div id="smartWebBanner" class="free ios7 shown" style="display:none; top: 0px;">
    <input type="button" id="swb-close" value="X" />
    <a href="https://dl.dropboxusercontent.com/s/c61hw52bvrc7kzn/build-index.html?dl=0" id="swb-icon" class="gloss" style="background-image: url(img/fount-logo.png);">
    </a><div id="swb-info"><strong>Fountit.com</strong><span>Fount SYW</span></div><a href="https://dl.dropboxusercontent.com/s/c61hw52bvrc7kzn/build-index.html?dl=0" id="swb-save">view</a></div>
    
    <div class="fount-logo">
      <img src="img/spree-logo.png" alt="Fount">
    </div>
    <div class="fount-menu-btns">
      <span ng-click="setTopFilter('DISCOVER')" ng-class="{selected: topFilter == 'DISCOVER'}">DISCOVER</span>
      <span ng-click="setTopFilter('SALE')" ng-class="{selected: topFilter == 'SALE'}">ON SALE</span>
      <span ng-click="setTopFilter('ARRIVALS')" ng-class="{selected: topFilter == 'ARRIVALS'}">NEW ARRIVALS</span>
    </div>
    <div class="fount-search-bar">
      <div fount-search></div>
    </div>
    <div ng-show="isLoggedIn" class="fount-header-right">
      <div ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" class="fount-shopping-bag">
        <i ng-click="goToCart()" class="sf-cart"></i>
        <span ng-click="goToCart()" class="fount-cart-count">{{shoppingCartInfo.count}}</span>
        <ul ng-show="showCartOverlay" class="sub-menu fount-cart-content">
          <li>
						<div ng-show="shoppingCartInfo.count==0" class="shopping-bag">
              <div class="bag-header">No item in shopping bag.</div>
            </div>
            <div ng-show="shoppingCartInfo.count>0" class="shopping-bag">
							<div class="bag-contents">
                <div ng-repeat="cartProduct in fountCartProducts" ng-click="productDetail(cartProduct.product)" class="bag-product clearfix">
							    <figure>
                    <div class="bag-product-img">
                      <img ng-src="{{cartProduct.product.imageURL}}" class="attachment-shop_thumbnail wp-post-image">
                    </div>
                  </figure>
                  <div class="bag-product-details">
								    <div class="bag-product-title">{{cartProduct.product.name}}</div>
								    <div class="bag-product-price">Unit Price: <span class="amount">{{cartProduct.product.finalPrice | currency}}</span></div>
								    <div class="bag-product-quantity">Quantity: 1</div>
								  </div>
								</div>
						  </div>
						  <div class="bag-buttons">
						    <a ng-click="goToCart()" class="sf-roll-button bag-button"><span>View shopping bag</span><span>View shopping bag</span></a>
						    <a ng-click="checkout()" class="sf-roll-button checkout-button"><span>Proceed to checkout</span><span>Proceed to checkout</span></a>
							</div>
						</div>
					</li>
				</ul>
      </div>
      <div ng-mouseover="profileHoverIn()" ng-mouseleave="profileHoverOut()" class="fount-profile-section">
        <div class="fount-user-avatar">
          <img ng-src="{{publicProfilePicture}}">
        </div>
        <span>{{username}}</span>
        <div ng-show="showProfileLogout" class="fount-log-out">
          <div class="fount-user-avatar-big">
            <img ng-src="{{publicProfilePicture}}">
          </div>
          <div class="fount-user-detail">
            <p>{{username}}</p>
            <p class="fount-cursor-pointer">Edit My Profile</p>
            <p ng-click="logout()" class="fount-cursor-pointer">Logout</p>
          </div>
        </div>
      </div>
    </div>
    <div ng-click="login()" ng-show="!isLoggedIn" class="fount-header-right">
      <div class="fount-shopping-bag">
        <i class="sf-cart"></i>
      </div>
      <div class="fount-profile-section">
        <span>Login</span>
      </div>
    </div>
  </div>
</div>
