<div class='fount-seller-carousel'>
  <ul id="seller-carousel" class="portfolio-filter filtering row clearfix">
    <li ng-repeat='seller in sellers track by $index' ng-click="setTopSellerId(seller.id)">
      <div class="seller-element" ng-class="{selected: seller.id == topSellerId}">{{seller.name}}</div>
    </li>
  </ul>
  <a id="seller-carousel-next" class="carousel-arrow carousel-next">
    <i class="fa-chevron-right carousel-arrow-icon"></i>
  </a>
  <a id="seller-carousel-prev" class="carousel-arrow carousel-prev">
    <i class="fa-chevron-left carousel-arrow-icon"></i>
  </a>
</div>
