<div class="fount-header">
  <!-- <div class="container"> -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="fount-logo">
        <img src="img/spree-logo.png" alt="Fount">
      </div>
      <div class="fount-menu-btns">
        <span>TRENDING</span>
        <span>FEED</span>
        <span ng-click="setTopFilter('SALE')" ng-class="{selected: topFilter == 'SALE'}">ON SALE</span>
        <span ng-click="setTopFilter('ARRIVALS')" ng-class="{selected: topFilter == 'ARRIVALS'}">NEW ARRIVALS</span>
      </div>
      <div class="fount-search-bar">
        <div fount-search></div>
      </div>
      <div ng-show="isLoggedIn" class="fount-header-right">
        <div ng-click="goToCart()" class="fount-shopping-bag">
          <i class="sf-cart"></i><span class="amount">{{shoppingCartInfo.count}}</span>
        </div>
        <div ng-click="logout()" class="fount-profile-section">
          <div class="fount-user-avatar">
            <img ng-src="{{publicProfilePicture}}">
          </div>
          <span>{{username}}</span>
        </div>
      </div>
      <div ng-click="login()" ng-show="!isLoggedIn" class="fount-header-right">
        <div class="fount-shopping-bag">
          <i class="sf-cart"></i>
        </div>
        <div class="fount-profile-section">
          <span>login</span>
        </div>
      </div>
    </div>
  </nav>
</div>
