<div class="fount-header">
  <!-- <div class="container"> -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="fount-logo">
        <img src="img/spree-logo.png" alt="Fount">
      </div>
      <div class="fount-menu-btns">
        <span ng-click="goToTrending()">TRENDING</span>
        <span ng-click="goToFeed()">FEED</span>
        <span ng-click="goToOnSale()">ON SALE</span>
        <span ng-click="goToNewArrivals()">NEW ARRIVALS</span>
      </div>
      <div class="fount-search-bar">
        <div fount-search></div>
      </div>
      <div ng-show="isLoggedIn" class="fount-header-right">
        <div ng-click="goToCart()" class="fount-shopping-bag">
          <i class="sf-cart"></i><span class="amount">{{shoppingCartInfo.subtotal | currency}}</span>
        </div>
        <div class="fount-profile-section">
          <div class="fount-user-avatar">
            <img ng-src="{{publicProfilePicture}}">
          </div>
          {{username}}
        </div>
      </div>
      <div ng-show="!isLoggedIn" class="fount-header-right">
        <div class="fount-shopping-bag">
          <i class="sf-cart"></i>
        </div>
        <div class="fount-profile-section">
          login
        </div>
      </div>
    </div>
  </nav>


    <div id="main-nav">
      <div class="container">
        <div class="row">
          <div class="span9">
            <nav id="main-navigation" class="std-menu clearfix">
              <div class="menu-main-menu-container">
                <ul id="menu-main-menu" class="menu">
                  <li class="menu-item-9282 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children sf-std-menu parent">
                    <a ng-click="goToShop()"><span class="menu-item-text">Shop</span></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
</div>
