<div class="fount-header header-wrap">
  <div id="top-bar" class="tb-1">
    <!-- <div class="tb-ss hidden-desktop">
      <div class="tb-text">
        <a class="swift-search-link" href="#"><i class="fa-search-plus"></i><span>Personal Shopper</span></a>
      </div>
    </div> -->
    <div class="container">
      <div class="row">
        <div class="tb-left span6 clearfix">
          <div class="tb-text clearfix">Fount it</div>
        </div>
      </div>
    </div>
  </div>
  <div id="header-section" class="header-1 logo-fade">
    <header id="header" class="clearfix">
      <div class="container">
        <div class="header-row row">
          <div class="header-left span4">
            <nav class="std-menu header-menu">
              <ul class="menu">
                <li class="tb-welcome"></li>
                <li class="hs-woo-custom clearfix"><a class="swift-search-link"><span></span></a></li>
              </ul>
            </nav>
          </div>
          <div id="logo" class="span4 logo-center clearfix">
            <a class="logo-link">
              <img class="standard" src="img/spree-logo.png" alt="Fount">
              <img class="retina" src="img/spree-logo.png" alt="Fount">
            </a>
            <a class="hidden-desktop show-main-nav"><i class="fa-align-justify"></i></a>
            <a class="hidden-desktop mobile-cart-link"><i class="sf-cart"></i></a>
            <a class="hidden-desktop mobile-search-link"><i class="fa-search"></i></a>
          </div>
          <div class="header-right span4">
            <nav class="std-menu header-menu">
              <ul class="menu">
                <li fount-login>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <form method="get" class="mobile-search-form container" action=""><input type="text" placeholder="Search" name="s" autocomplete="off"></form>
    <div id="main-nav">
      <div class="container">
        <div class="row">
          <div class="span9">
            <nav id="main-navigation" class="std-menu clearfix">
              <div class="menu-main-menu-container">
                <ul id="menu-main-menu" class="menu">
                  <li class="menu-item-9269 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children sf-std-menu parent">
                    <a><span class="menu-item-text">Home</span></a>
                  </li>
                  <li class="menu-item-9282 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children sf-std-menu parent">
                    <a ng-click="goToShop()"><span class="menu-item-text">Shop</span></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="span3 header-right">
            <nav class="std-menu">
              <ul class="menu">
                <li fount-search></li>
                <li fount-bag shopping-cart-info="shoppingCartInfo"></li>
                <!-- <li fount-sfl></li> -->
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
