<div class="fount-discover-page">
  <div class="clearfix post-364 page type-page status-publish hentry">
    <div class="page-content clearfix">
      <section class="container">
        <div class="row">
          <div class="span12">
            <div class="spb_wrapper portfolio-wrap">
              <div infinite-scroll='loadMore()' infinite-scroll-disabled='!hasMoreData' infinite-scroll-distance='0' class="container">
                <ul class="portfolio-items products gallery-portfolio filterable-items row clearfix">
                  <li ng-repeat="discoverMedia in discoverMedias track by $index" ng-click="invokeDiscoverShowcase(discoverMedia, $index)" class="product portfolio-item fount-discover-post" id="fount-showcase-post_{{$index}}">
                    <figure>
                      <div class="fount-discover-img">
                        <img ng-src="{{discoverMedia.lowResolutionURL}}" fount-err-src="img/err-src.png">
                      </div>
                    </figure>
                  </li>
                  <!-- <div fount-discover-showcase showcase-products="showcaseProducts" id="fount-discover-showcase"></div> -->
                  <li class="fount-discover-showcase" id="fount-discover-showcase">
                    <div class="discover-showcase-container">
                      <div id="discover-showcase-carousel">
                        <div ng-repeat="product in showcaseProducts" class="fount-tagged-product">
                          <div class="tagged-product-img"><img ng-src="{{product.imageURL}}"></div>
                          <p class="tagged-product-brand">{{product.brand.name}}</p>
                          <p class="tagged-product-name">{{product.name}}</p>
                          <p class="tagged-product-price">{{product.finalPrice | currency}}</p>
                          <div class="tagged-product-details">Details</div>
                          <div class="tagged-product-wishlist"><i class="fa-heart"></i>&nbsp;Add to wishlist</div>
                        </div>
                      </div>
                    </div>
                    <div class="discover-showcase-sidebar">
                      <h1>SHOP TAGGED ITEMS</h1>
                      <p>Find the item inpired from the image.<p>
                      <div class="showcase-carousel-btns">
                        <div id="showcase-carousel-prev" class="carousel-arrow carousel-prev">
                          <i class="fa-chevron-left carousel-arrow-icon"></i>
                        </div>
                        <div id="showcase-carousel-next" class="carousel-arrow carousel-next">
                          <i class="fa-chevron-right carousel-arrow-icon"></i>
                        </div>
                      </div>
                      <div class="discover-showcase-shopall">
                        <div class="showcase-shopall-arrow">------></div>
                        <div class="showcase-shopall-btn">SHOP ALL</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
