	<div class="my-account-login-wrap">
    <div class="col2-set" id="customer_login">
      <div class="col-1">
        <div class="login-wrap">
          <form class="login">
            <p class="form-row form-row-wide">
              <label for="email">Email<span class="required">*</span></label>
              <input type="text" class="input-text" name="email" id="email" ng-model="lognObj.email" />
            </p>
            <p class="form-row form-row-wide">
              <label for="password">Password<span class="required">*</span></label>
              <input class="input-text" type="password" name="password" id="password" ng-model="loginObj.password" />
            </p>
            <p class="form-row">
              <button ng-click="loginAccount()" class="button" name="login" value="Login">Login</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
