<center>
<div id="main-container" class="fount-media-detail">
  <div id="page-wrap">
    <div class="page-content clearfix">
      <div class="inner-page-wrap has-no-sidebar clearfix">
        <article class="clearfix product type-product status-publish has-post-thumbnail product_cat-footwear product_cat-sneakers product_tag-adidas product_tag-sneakers product_shipping_class-standard-shipping pa_colour-grey pa_colour-red pa_size-eu41-us8 pa_size-eu42-us9 pa_size-eu43-us10 pa_size-eu45-us12 pa_fabric-leather-2 pa_fabric-mesh pa_fabric-suede sale shipping-taxable purchasable product-type-simple product-cat-footwear product-cat-sneakers product-tag-adidas product-tag-sneakers instock">
          <div class="page-content clearfix">
            <section class="article-body-wrap">
              <div class="product type-product status-publish has-post-thumbnail product_cat-footwear product_cat-sneakers product_tag-adidas product_tag-sneakers product_shipping_class-standard-shipping pa_colour-grey pa_colour-red pa_size-eu41-us8 pa_size-eu42-us9 pa_size-eu43-us10 pa_size-eu45-us12 pa_fabric-leather-2 pa_fabric-mesh pa_fabric-suede sale shipping-taxable purchasable product-type-simple product-cat-footwear product-cat-sneakers product-tag-adidas product-tag-sneakers instock">
                <div class="media-container">
                  <div class="media-summary">
	                  <div class="media-images mediaimages">
	                    <div><img id="image" alt="item pic" src="{{discoverMedia.standardResolutionURL}}" /></div>
	                  </div>
	                  <div class="media-info mediasummary entry-summary">
	                    <div class="summary-top clearfix">
							<ul>
								<li><img alt="item pic" src="{{discoverMedia.instagramUserProfileUrl}}" width=100px;/></li>
								<li><div class="brandName">{{discoverMedia.instagramUserName}}</div></li>
								<li><div class="like-counts"><center><div><img alt="like" src="img/like.png" /></div><div>{{discoverMedia.likes}}</div></center></div></li>
							</ul>
	                    </div>
	                    <div class="summary-top clearfix">
							<div class="caption">{{discoverMedia.caption}}</div>
						</div>
	
	                    <div class="summary-top clearfix media-user-likes">
	                    	<div class="likedUser">
								<li	ng-repeat="x in discoverUsers track by $index"
									class="likedUser-list"
									id="fount-liked_user_{{$index}}">
									<figure>
										<div class="likedUserProfile-img">
				 							<img ng-src="{{x.igProfilePicture}}" fount-err-src="img/err-src.png">
										</div>
									</figure>
								</li>
							</div>
							<div class="likes">
		                    	<div class="likes-count">{{discoverMedia.moreLikes}} likes</div>
		                    	<div class="more">more></div>
	                    	</div>
	                    </div>                   
	                  </div>
                  </div>
                  <div class="mediafilter">
	                  <div class="media-filter">
						<table>
							<tr>
								<td id="info" style="width: 280px;">FILTER</td>
								<td id="brands" style="width: 280px;">
									<div class="dropdown">
										<div class="dropdown">
											BRANDS <span
												class="caret"></span>
										</div>
										<div class="dropdown-menu">
											<p>
												<a href="#">Saint Laurent</a>
											</p>
											<p>
												<a href="#">Bobbi Brown</a>
											</p>
											<p>
												<a href="#">Tom Ford</a>
											</p>
											<p>
												<a href="#">Charlotte Olympia</a>
											</p>
											<p>
												<a href="#">Valextra</a>
											</p>
											<p>
												<a href="#">Dolce & Gabbana</a>
											</p>
											<p>
												<a href="#">Sisley Paris</a>
											</p>
										</div>
									</div>
								</td>
								<td id="price" style="width: 560px;">PRICE
								</td>
								<td id="sort by" style="width: 280px;">
									<div class="dropdown">
										<div class="dropdown">SORT BY <span	class="caret"></span>
										</div>
										<div class="dropdown-menu">
											<p>
												<a href="#">Option A</a>
											</p>
											<p>
												<a href="#">Option B</a>
											</p>
											<p>
												<a href="#">Option C</a>
											</p>
										</div>
									</div>
								</td>
							</tr>
						</table>
	                  </div>
                  </div>
	              
	 
	              <div class="media-product-items">
					<div class="product-items-detail">
						<div class="info">
								<font size=6 color="#4ac0d1">TAGGED <br>ITEMS<br>
								<br>_____
								<br>
								<br>
								<br>
								<br>
								<br>
								<br></font>
						</div>
						<div class="intro-brief">
							A fount of products
								tagged and <br>inspired from the host. Have fun<br>
								shopping!
						</div>
					</div>
					<li	ng-repeat="products in tagProductsArray track by $index"
							class="product-items-detail"
							id="fount-visualtag_product_{{$index}}">
							<figure>
								<div class="product-img">
									<img ng-src="{{products.imageURL}}" fount-err-src="img/err-src.png"/>
								</div>
								<center>
								<div class="brand-name"><h1>{{products.brand.name}}</h1></div>
								<div class="product-name"><p>{{products.name}}</p></div>
								<div class="product-price">
									{{products.price | currency}}
								</div>
								<div ng-click="productDetail(products.productTagger.id)" class="details-btn"><input type="image" class="product-details-btn" src="http://i.imgur.com/8Ycesid.png"/></div>
								<div class="add-to-wishlist">
									<div><img style="display: inline-block;" alt="item pic"	src="img/wishlist.png" width=40 /></div>
									<div>
										<p style="display: inline-block;">add to wish list<p>
									</div>
								</div>
								</center>
							</figure>
						</li>						
				 </div>
                </div>
              </div>
            </section>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>


