<!-- 
<div id="main-container" class="fount-media-detail">
  <div id="page-wrap">
    <div class="page-content clearfix">
      <div class="inner-page-wrap has-no-sidebar clearfix">
        <article class="clearfix product type-product status-publish has-post-thumbnail product_cat-footwear product_cat-sneakers product_tag-adidas product_tag-sneakers product_shipping_class-standard-shipping pa_colour-grey pa_colour-red pa_size-eu41-us8 pa_size-eu42-us9 pa_size-eu43-us10 pa_size-eu45-us12 pa_fabric-leather-2 pa_fabric-mesh pa_fabric-suede sale shipping-taxable purchasable product-type-simple product-cat-footwear product-cat-sneakers product-tag-adidas product-tag-sneakers instock">
          <div class="page-content clearfix">
            <section class="article-body-wrap">
              <div class="product type-product status-publish has-post-thumbnail product_cat-footwear product_cat-sneakers product_tag-adidas product_tag-sneakers product_shipping_class-standard-shipping pa_colour-grey pa_colour-red pa_size-eu41-us8 pa_size-eu42-us9 pa_size-eu43-us10 pa_size-eu45-us12 pa_fabric-leather-2 pa_fabric-mesh pa_fabric-suede sale shipping-taxable purchasable product-type-simple product-cat-footwear product-cat-sneakers product-tag-adidas product-tag-sneakers instock">
                <div class="media-container">
                  <div class="media-summary">
	                  <div class="media-images">
	                    <div id="image" media-images="productDetail.productImages"></div>
	                    <div><img id="image" alt="item pic" src="http://i.imgur.com/VP0T8xS.jpg" /></div>
	                    test
	                    <div ng-app = "">
         <p>Enter your Name: <input type = "text" ng-model = "name"></p>
         <p>Hello <span ng-bind = "name"></span>!</p>
      </div>
      test end
	                  </div>
	                  <div class="media-info">
	                    <div class="summary-top clearfix">
							<ul>
								<li><img alt="item pic" src="{{media.brandimage}}" width=100px;/></li>
								<li><div class="brandName">{{discoverMedia.instagramUserName}}</div></li>
								<li><div style="margin: 0 0 0 20px;"><center><div><img alt="like" src="img/like.png" /></div><div><font size=3 color="#d6d6d6"><br>{{media.likes}}</font></div></center></div></li>
							</ul>
	                    </div>
	                    <div class="summary-top clearfix">
							<div class="caption">{{discoverMedia.caption}}{{1+2}}</div>
						</div>
	
	                    <div class="summary-top clearfix">
	                    	<div>{{media.likeduser}}</div>
	                    	<div>? likes</div>
	                    	<div>more></div>
	                    </div>                   
	                  </div>
                  </div>
                  <div class="media-filter">
					<table>
						<tr>
							<td id="info" style="width: 280px;">FILTER</td>
							<td id="brands" style="width: 280px;">
								<div class="dropdown">
									<div class="dropdown">
										BRANDS <span
											class="caret"></span>
									</div>
									<div class="dropdown-menu">
										<p>
											<a href="#">Saint Laurent</a>
										</p>
										<p>
											<a href="#">Bobbi Brown</a>
										</p>
										<p>
											<a href="#">Tom Ford</a>
										</p>
										<p>
											<a href="#">Charlotte Olympia</a>
										</p>
										<p>
											<a href="#">Valextra</a>
										</p>
										<p>
											<a href="#">Dolce & Gabbana</a>
										</p>
										<p>
											<a href="#">Sisley Paris</a>
										</p>
									</div>
								</div>
							</td>
							<td id="price" style="width: 560px;">PRICE
							</td>
							<td id="sort by" style="width: 280px;">
								<div class="dropdown">
									<div class="dropdown">
										SORT BY <span
											class="caret"></span>
									</div>
									<div class="dropdown-menu">
										<p>
											<a href="#">Option A</a>
										</p>
										<p>
											<a href="#">Option B</a>
										</p>
										<p>
											<a href="#">Option C</a>
										</p>
									</div>
								</div>
							</td>
						</tr>
					</table>
                  </div>
	              <div class="media-product-items">
					<div class="product-items-detail">
						<div class="info">
								<font size=6 color="#4ac0d1">TAGGED <br>ITEMS<br>
								<br>_____
								<br>
								<br>
								<br>
								<br>
								<br>
								<br></font>
						</div>
						<div>
							<font size=3 color="#5e5e5e">A fount of products
								tagged and <br>inspired from the host. Have fun<br>
								shopping!
							</font>
						</div>
					</div>
					<div class="product-items-detail">
						<div class="product-img">
							<img alt="item pic" src="http://i.imgur.com/JQ5YgrE.png"/>
						</div>
						<center>
						<h1>Saint Laurent</h1>
						<p>Cassandre Tassel Clutch Bag</p>
						<div id="price">
							<font size=3 color="#4ac0d1">$1500<br> <br></font>
						</div>
						<input type="image" class="product-details-btn" src="http://i.imgur.com/8Ycesid.png"/>
						<div>
							<img style="display: inline-block;" alt="item pic"
								src="img/wishlist.png" width=40 />
							<p style="display: inline-block;">
								<br> <br>add to wish list
							<p>
						</div>
						</center>
					</div>
					<div class="product-items-detail">
						<div class="product-img">
							<img alt="item pic" src="http://i.imgur.com/JQ5YgrE.png"/>
						</div>
						<center>
						<h1>Saint Laurent</h1>
						<p>Cassandre Tassel Clutch Bag</p>
						<div id="price">
							<font size=3 color="#4ac0d1">$1500<br> <br></font>
						</div>
						<input type="image" class="product-details-btn" src="http://i.imgur.com/8Ycesid.png"/>
						<div>
							<img style="display: inline-block;" alt="item pic"
								src="img/wishlist.png" width=40 />
							<p style="display: inline-block;">
								<br> <br>add to wish list
							<p>
						</div>
						</center>
					</div>
					
				 </div>
                </div>
              </div>
            </section>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>


 -->
 
 


 
      
      <div>
         <p>Enter your Name: <input type = "text"></p>
         <p>Hello <span ng-bind = "name"></span>!</p>
      </div>
      
      
      

