<!-- <div fount-header></div> -->
<div class="container">
  <div id="page-wrap">
    <div class="inner-page-wrap has-no-sidebar clearfix">
      <div class="clearfix post-364 page type-page status-publish hentry" id="364">
        <div class="page-content clearfix">
          <section class="container">
            <div class="row">
              <div class="spb_portfolio_widget spb_content_element span12">
                <div class="spb_wrapper portfolio-wrap">
                  <div class="filter-wrap row clearfix">
                    <div class="filter-slide-wrap">
                      <ul class="portfolio-filter filtering row clearfix">
                        <li class="span2 has-items" ng-class="{selected: shopObj.topFilter == 'SALE'}" ng-click="setTopFilter('SALE')"><div><span class="item-name">On Sale</span></div></li>
                        <li class="span2 has-items" ng-class="{selected: shopObj.topFilter == 'ARRIVALS'}" ng-click="setTopFilter('ARRIVALS')"><div><span class="item-name">New Arrivals</span></div></li>
                        <!-- <li class="span2"><a title="View all Single Column items" class="single-column" data-filter=".single-column"><span class="item-name">Single Column</span></a></li> -->
                      </ul>
                    </div>
                  </div>
                  <div class="filter-wrap filter-wrap-second row clearfix">
                    <div class="filter-slide-wrap">
                      <div class='seller-carousel-container'>
                        <ul id="seller-carousel" class="portfolio-filter filtering row clearfix">
                          <li class="span has-items selected"><div><span class="item-name">All</span></div></li>
                          <li ng-repeat='seller in shopObj.sellers' class="span has-items">
                            <div>
                              <span class="item-name">{{seller.name}}</span>
                            </div>
                          </li>
                        </ul>
                        <div id="seller-carousel-next" carousel-arrow direction="right"></div>
                        <div id="seller-carousel-prev" carousel-arrow direction="left"></div>
                      </div>
                    </div>
                  </div>
                  <div infinite-scroll='loadMore()' infinite-scroll-disabled='shopObj.noMoreData' infinite-scroll-distance='0' class="container">
                    <ul class="portfolio-items gallery-portfolio filterable-items row clearfix">
                      <li ng-repeat="product in shopObj.products" class="clearfix portfolio-item span3 gallery app-design interface-design">
                        <figure>
                          <img itemprop="image" ng-src="{{product.imageURL}}">
                        </figure>
                      </li>
                    </ul>
                  </div>
                  <div class="pagination-wrap">
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div fount-footer></div> -->
