<!-- <div fount-header></div> -->
<div class="container">
  <div id="page-wrap">
    <div class="inner-page-wrap has-no-sidebar clearfix">
      <div class="clearfix post-364 page type-page status-publish hentry" id="364">
        <div class="page-content clearfix">
          <section class="container">
            <div class="row">
              <div class="spb_portfolio_widget spb_content_element span12">
                <div class="spb_wrapper portfolio-wrap">
                  <div class="filter-wrap row clearfix">
                    <div class="filter-slide-wrap" style="display: block;">
                      <ul class="portfolio-filter filtering row clearfix">
                        <li class="all span2 selected"><a data-filter="*" href="#"><span class="item-name">All</span><span class="item-count">8</span></a></li>
                        <li class="span2"><a href="#" title="View all All items" class="all" data-filter=".all"><span class="item-name">All</span><span class="item-count">0</span></a></li>
                        <li class="span2 has-items"><a href="#" title="View all App Design items" class="app-design" data-filter=".app-design"><span class="item-name">App Design</span><span class="item-count">4</span></a></li>
                        <li class="span2 has-items"><a href="#" title="View all Interface Design items" class="interface-design" data-filter=".interface-design"><span class="item-name">Interface Design</span><span class="item-count">4</span></a></li>
                        <li class="span2"><a href="#" title="View all Single Column items" class="single-column" data-filter=".single-column"><span class="item-name">Single Column</span><span class="item-count">0</span></a></li>
                        <li class="span2 has-items"><a href="#" title="View all Video items" class="video" data-filter=".video"><span class="item-name">Video</span><span class="item-count">1</span></a></li>
                        <li class="span2 has-items"><a href="#" title="View all Visualisations items" class="visualisations" data-filter=".visualisations"><span class="item-name">Visualisations</span><span class="item-count">2</span></a></li>
                      </ul>
                    </div>
                  </div>
                  <ul class="portfolio-items gallery-portfolio filterable-items row clearfix" style="position: relative; height: 390px;">
                    <li itemscope="" itemtype="http://schema.org/CreativeWork	" data-id="id-0" class="clearfix portfolio-item span3 gallery   app-design interface-design " style="position: absolute; left: 0px; top: 0px; min-height: 165px;">
                      <figure>
                        <a href="http://neighborhood.swiftideas.com/?portfolio=sazzi" class="link-to-post">
                          <div class="overlay">
                            <div class="thumb-info">
                              <h4 itemprop="name headline">Page Builder Post Page 1</h4>
                              <i class="fa-chevron-right small-icon"></i>
                            </div>
                          </div>
                          <img itemprop="image" src="http://neighborhood.swiftideas.com/wp-content/uploads/2012/11/sazzi.jpg" width="570" height="428" alt="Page Builder Post Page 1">
                        </a>
                      </figure>
                    </li>
                    <li itemscope="" itemtype="http://schema.org/CreativeWork	" data-id="id-1" class="clearfix portfolio-item span3 gallery   interface-design app-design " style="position: absolute; left: 240px; top: 0px; min-height: 165px;">
                      <figure>
                        <a href="http://neighborhood.swiftideas.com/?portfolio=cibando" class="link-to-post">
                          <div class="overlay">
                            <div class="thumb-info">
                              <h4 itemprop="name headline">Page Builder Post Page 2</h4>
                              <i class="fa-chevron-right small-icon"></i>
                            </div>
                          </div>
                          <img itemprop="image" src="http://neighborhood.swiftideas.com/wp-content/uploads/2012/10/cibando1.jpg" width="570" height="428" alt="Page Builder Post Page 2">
                        </a>
                      </figure>
                    </li>
                    <li itemscope="" itemtype="http://schema.org/CreativeWork	" data-id="id-2" class="clearfix portfolio-item span3 gallery   interface-design app-design " style="position: absolute; left: 480px; top: 0px; min-height: 165px;">
                      <figure>
                        <div class="flexslider thumb-slider">
                          <ul class="slides">
                            <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><a href="http://neighborhood.swiftideas.com/?portfolio=standard-full-width-port-post" class="link-to-post"><img src="http://neighborhood.swiftideas.com/wp-content/uploads/2012/10/Note_4-600x450.jpg" width="600" height="450" alt="" draggable="false"></a></li>
                            <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;"><a href="http://neighborhood.swiftideas.com/?portfolio=standard-full-width-port-post" class="link-to-post"><img src="http://neighborhood.swiftideas.com/wp-content/uploads/2012/10/Note_2-600x450.jpg" width="600" height="450" alt="" draggable="false"></a></li>
                            <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><a href="http://neighborhood.swiftideas.com/?portfolio=standard-full-width-port-post" class="link-to-post"><img src="http://neighborhood.swiftideas.com/wp-content/uploads/2012/10/Note_3-600x450.jpg" width="600" height="450" alt="" draggable="false"></a></li>
                            <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><a href="http://neighborhood.swiftideas.com/?portfolio=standard-full-width-port-post" class="link-to-post"><img src="http://neighborhood.swiftideas.com/wp-content/uploads/2012/10/Note_1-600x450.jpg" width="600" height="450" alt="" draggable="false"></a></li>
                          </ul>
                          <ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li>
                          </ul>
                        </div>
                      </figure>
                    </li>
                    <li itemscope="" itemtype="http://schema.org/CreativeWork	" data-id="id-3" class="clearfix portfolio-item span3 gallery   visualisations " style="position: absolute; left: 720px; top: 0px; min-height: 165px;">
                      <figure>
                        <a href="http://neighborhood.swiftideas.com/?portfolio=iphone-dialer" class="link-to-post">
                          <div class="overlay">
                            <div class="thumb-info">
                              <h4 itemprop="name headline">iPhone Dialer</h4>
                              <i class="fa-chevron-right small-icon"></i>
                            </div>
                          </div>
                          <img itemprop="image" src="http://neighborhood.swiftideas.com/wp-content/uploads/2012/10/iPhone-dialer-thumb.jpg" width="570" height="428" alt="iPhone Dialer">
                        </a>
                      </figure>
                    </li>
                    <li itemscope="" itemtype="http://schema.org/CreativeWork	" data-id="id-4" class="clearfix portfolio-item span3 gallery   visualisations " style="position: absolute; left: 0px; top: 195px; min-height: 165px;">
                      <figure>
                        <a href="http://dribbble.com/KreativaStudio" class="link-to-url">
                          <div class="overlay">
                            <div class="thumb-info">
                              <h4 itemprop="name headline">Camera Lens</h4>
                              <i class="fa-link small-icon"></i>
                            </div>
                          </div>
                          <img itemprop="image" src="http://neighborhood.swiftideas.com/wp-content/uploads/2012/10/KREATIVA-STUDIO-camera-lens-800x600.jpeg" width="800" height="600" alt="Camera Lens">
                        </a>
                      </figure>
                    </li>
                    <li itemscope="" itemtype="http://schema.org/CreativeWork	" data-id="id-5" class="clearfix portfolio-item span3 gallery   app-design " style="position: absolute; left: 240px; top: 195px; min-height: 165px;">
                      <figure>
                        <a href="http://neighborhood.swiftideas.com/wp-content/uploads/2012/10/weather_app.jpg" class="lightbox ilightbox-enabled" data-rel="ilightbox[portfolio]">
                          <div class="overlay">
                            <div class="thumb-info">
                              <h4 itemprop="name headline">Weather App</h4>
                              <i class="fa-search small-icon"></i>
                            </div>
                          </div>
                          <img itemprop="image" src="http://neighborhood.swiftideas.com/wp-content/uploads/2012/10/weather_app.jpg" width="570" height="428" alt="Weather App">
                        </a>
                      </figure>
                    </li>
                    <li itemscope="" itemtype="http://schema.org/CreativeWork	" data-id="id-6" class="clearfix portfolio-item span3 gallery   video " style="position: absolute; left: 480px; top: 195px; min-height: 165px;">
                      <figure>
                        <div class="fluid-width-video-wrapper" style="padding-top: 75%;"><iframe itemprop="video" src="http://player.vimeo.com/video/49224248?title=0&amp;byline=0&amp;portrait=0" id="fitvid760268"></iframe></div>
                      </figure>
                    </li>
                    <li itemscope="" itemtype="http://schema.org/CreativeWork	" data-id="id-7" class="clearfix portfolio-item span3 gallery   interface-design " style="position: absolute; left: 720px; top: 195px; min-height: 165px;">
                      <figure>
                        <a href="http://neighborhood.swiftideas.com/?portfolio=modal-windows" class="link-to-post">
                          <div class="overlay">
                            <div class="thumb-info">
                              <h4 itemprop="name headline">Modal Windows</h4>
                              <i class="fa-chevron-right small-icon"></i>
                            </div>
                          </div>
                          <img itemprop="image" src="http://neighborhood.swiftideas.com/wp-content/uploads/2012/10/modal.jpg" width="570" height="428" alt="Modal Windows">
                        </a>
                      </figure>
                    </li>
                  </ul>
                  <div class="pagination-wrap">
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div fount-footer></div> -->
